{% extends "base.html" %}
{% block title %}Suspicious - Submissions{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    {% load utils %}
    {% load static %}

    {% csrf_token %}

    <section class="info mt-6">
      <header>
        <h1 class="title is-1">Your latest submissions:</h1>
        <p class="title2 ml-6 mb-4">Click on the submission ID to get more details</p>
      </header>
    </section>

    {% if page_obj and page_obj.object_list %}
      <div id="count" class="rowsNum">
        <div class="button has-background-link has-text-white">
          <p>Currently showing :</p>
          <span id="num" class="mr-1 ml-1" aria-label="Number of rows">
            {{ page_obj.start_index }}–{{ page_obj.end_index }} of {{ page_obj.paginator.count }}
          </span>
          <p>rows</p>
        </div>
        <div class="addfilter">
          <button class="button btn btn-default btn-xs btn-filter has-background-link has-text-white">
            <span class="glyphicon glyphicon-filter"></span>Click To Add / Remove Filter
          </button>
        </div>
      </div>

      <div class="panel panel-primary filterable">
        <table id="table" class="table table-bordered table-striped tablemanager is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
            <tr class="filters">
              <th><label for="case-number" class="ml-5">Id</label><input id="case-number" class="input" type="text" disabled /></th>
              <th><label for="status" class="ml-5">Status</label><input id="status" class="input" type="text" disabled /></th>
              <th><label for="info" class="ml-5">Info</label><input id="info" class="input" type="text" disabled /></th>
              <th><label for="date" class="ml-5">Date</label><input id="date" class="input" type="date" disabled /></th>
              <th><label for="tests-done" class="ml-5">Tests</label><input id="tests-done" class="input" type="text" disabled/></th>
              <th><label for="type" class="ml-5">Type</label><input id="type" class="input" type="text" disabled /></th>
              <th><label for="result" class="ml-5">Results</label><input id="result" class="input" type="text" disabled /></th>
            </tr>
          </thead>
          <tbody id="table_body">
            {% csrf_token %}
            {% for case in page_obj %}
              <tr>
                <td data-label="Case #">
                  <div>
                    <button class="button js-modal-triggers has-background-link has-text-white caseid" value="{{ case.id }},{{ case.reporter }}">{{ case.id }}</button>
                  </div>
                </td>
                <td class="status has-text-centered" data-label="Status">{{ case.status }}</td>
                {% if case.fileOrMail %}
                  {% if case.fileOrMail.file %}
                    <td class="info has-text-centered" title="{{ case.fileOrMail.file.file_path.name }}" data-label="Info">{{ case.fileOrMail.file.file_path.name | truncate_chars }}</td>
                  {% elif case.fileOrMail.mail %}
                    <td class="info has-text-centered" title="{{ case.fileOrMail.mail.subject }}" data-label="Info">{{ case.fileOrMail.mail.subject | decode_email_subject }}</td>
                  {% endif %}
                {% elif case.nonFileIocs %}
                  {% if case.nonFileIocs.hash %}
                    <td class="info has-text-centered" title="{{ case.nonFileIocs.hash.value }}" data-label="Info">{{ case.nonFileIocs.hash.value | truncate_chars }}</td>
                  {% elif case.nonFileIocs.ip %}
                    <td class="info has-text-centered" title="{{ case.nonFileIocs.ip.address }}" data-label="Info">{{ case.nonFileIocs.ip.address | truncate_chars }}</td>
                  {% elif case.nonFileIocs.url %}
                    <td class="info has-text-centered" title="{{ case.nonFileIocs.url.address }}" data-label="Info">{{ case.nonFileIocs.url.address | truncate_chars }}</td>
                  {% endif %}
                {% else %}
                  <td class="info has-text-centered" data-label="Info">Default</td>
                {% endif %}
                <td class="date has-text-centered" data-label="Date">{{ case.creation_date | change_date_format }}</td>
                <td class="tests has-text-centered" data-label="Tests">{{ case.analysis_done }}</td>
                {# Type column #}
                {% if case.fileOrMail %}
                  {% if case.fileOrMail.file %}
                    <td class="type has-text-centered" data-label="Type">{{ case.fileOrMail.file.filetype }}</td>
                  {% elif case.fileOrMail.mail %}
                    <td class="type has-text-centered" data-label="Type">Mail</td>
                  {% endif %}
                {% elif case.nonFileIocs %}
                  {% if case.nonFileIocs.hash %}
                    <td class="type has-text-centered" data-label="Type">{{ case.nonFileIocs.hash.hashtype }}</td>
                  {% elif case.nonFileIocs.ip %}
                    <td class="type has-text-centered" data-label="Type">IPV4</td>
                  {% elif case.nonFileIocs.url %}
                    <td class="type has-text-centered" data-label="Type">Url</td>
                  {% endif %}
                {% else %}
                  <td class="type has-text-centered" data-label="Type">Default</td>
                {% endif %}
                <td class="result has-text-centered" data-label="Result">{{ case.results }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="modal" id="myPopup"></div>

    {% else %}
      <p>No cases are available.</p>
    {% endif %}

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tableManager.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tablefilter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/caseScriptUser.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/loader2.js' %}"></script>

  {% else %}
    <p>You are not logged in</p>
    <script>window.location.replace("/accounts/login");</script>
  {% endif %}
{% endblock %}